# Получить: https://oauth.yandex.ru/authorize?response_type=token&client_id=1a6990aa636648e9b2ef855fa7bec2fb
OAUTH_TOKEN=TOKEN

# PostgreSQL
DB_HOST=IP
DB_PORT=PORT
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=PASS
